.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.message {
  font-size: 1.5em;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
}

.message.correct {
  background-color: #4CAF50; /* Green for correct */
}

.message.incorrect {
  background-color: #f44336; /* Red for incorrect */
}

.display {
  margin: 20px 0;
  text-align: center;
}

.note {
  font-size: 4em;
  font-weight: bold;
}

.interval {
  font-size: 2em;
  color: #555;
}

.answer-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  margin-bottom: 50px; /* Space for the "Next" button */
}

.answer-button {
  padding: 15px;
  font-size: 1em;
  background-color: #8BC34A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.answer-button.correct {
  background-color: #4CAF50; /* Green for correct */
  border: 2px solid #4CAF50; /* Solid border for emphasis */
}

.answer-button.incorrect {
  background-color: #f44336; /* Red for incorrect */
  border: 2px solid #f44336; /* Solid border for emphasis */
}

.answer-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.next-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 2em; /* Large size for the arrow */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.next-button:hover {
  background-color: #367c2b;
  transform: scale(1.1); /* Slightly larger on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .note {
    font-size: 3em;
  }

  .interval {
    font-size: 1.5em;
  }

  .answer-buttons {
    grid-template-columns: repeat(2, 1fr);
  }

  .next-button {
    font-size: 1.5em; /* Smaller arrow for smaller screens */
  }
}
